<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="KiwiCommerceCrudimageGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="KiwiCommerceCrudimageGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">KiwiCommerce\Testimonials\Model\ResourceModel\Crudimage\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">KiwiCommerceCrudimageGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="KiwiCommerce\Testimonials\Model\ResourceModel\Crudimage\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">kiwicommerce_testimonials</argument>
			<argument name="resourceModel" xsi:type="string">KiwiCommerce\Testimonials\Model\ResourceModel\Crudimage</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="kiwicommerce_testimonials_index_listing_data_source" xsi:type="string">KiwiCommerce\Testimonials\Model\ResourceModel\Crudimage\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>